ws-antifraude/src/main/resources/wsdl/CBSBrokerQA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ServiceAF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="http://qa-ws.aviancataca.com/MafService/ServiceAF.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
			<xsd:import schemaLocation="http://qa-ws.aviancataca.com/MafService/ServiceAF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="http://qa-ws.aviancataca.com/MafService/ServiceAF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Avianca.AF.Application.DTO"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IServiceAF_ValidationAF_InputMessage">
		<wsdl:part name="parameters" element="tns:ValidationAF"/>
	</wsdl:message>
	<wsdl:message name="IServiceAF_ValidationAF_OutputMessage">
		<wsdl:part name="parameters" element="tns:ValidationAFResponse"/>
	</wsdl:message>
	<wsdl:message name="IServiceAF_ClearCacheItem_InputMessage">
		<wsdl:part name="parameters" element="tns:ClearCacheItem"/>
	</wsdl:message>
	<wsdl:message name="IServiceAF_ClearCacheItem_OutputMessage">
		<wsdl:part name="parameters" element="tns:ClearCacheItemResponse"/>
	</wsdl:message>
	<wsdl:portType name="IServiceAF">
		<wsdl:operation name="ValidationAF">
			<wsdl:input wsaw:Action="http://tempuri.org/IServiceAF/ValidationAF" message="tns:IServiceAF_ValidationAF_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IServiceAF/ValidationAFResponse" message="tns:IServiceAF_ValidationAF_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ClearCacheItem">
			<wsdl:input wsaw:Action="http://tempuri.org/IServiceAF/ClearCacheItem" message="tns:IServiceAF_ClearCacheItem_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IServiceAF/ClearCacheItemResponse" message="tns:IServiceAF_ClearCacheItem_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IServiceAF" type="tns:IServiceAF">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ValidationAF">
			<soap:operation soapAction="http://tempuri.org/IServiceAF/ValidationAF" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ClearCacheItem">
			<soap:operation soapAction="http://tempuri.org/IServiceAF/ClearCacheItem" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceAF">
		<wsdl:port name="BasicHttpBinding_IServiceAF" binding="tns:BasicHttpBinding_IServiceAF">
			<soap:address location="http://qa-ws.aviancataca.com/MafService/ServiceAF.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
