ws-antifraude/src/main/resources/wsdl/maf.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.maf.pagosonline.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.maf.pagosonline.com/" name="ModuloAntifraudeWebserviceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.maf.pagosonline.com/" schemaLocation="https://pruebas.maf.pagosonline.net:443/ws/ws/maf?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ws.maf.pagosonline.com" schemaLocation="https://pruebas.maf.pagosonline.net:443/ws/ws/maf?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="evaluar">
<part name="parameters" element="tns:evaluar"></part>
</message>
<message name="evaluarResponse">
<part name="parameters" element="tns:evaluarResponse"></part>
</message>
<message name="preValidar">
<part name="parameters" element="tns:preValidar"></part>
</message>
<message name="preValidarResponse">
<part name="parameters" element="tns:preValidarResponse"></part>
</message>
<message name="postValidar">
<part name="parameters" element="tns:postValidar"></part>
</message>
<message name="postValidarResponse">
<part name="parameters" element="tns:postValidarResponse"></part>
</message>
<message name="consultarEstado">
<part name="parameters" element="tns:consultarEstado"></part>
</message>
<message name="consultarEstadoResponse">
<part name="parameters" element="tns:consultarEstadoResponse"></part>
</message>
<message name="actualizarEstado">
<part name="parameters" element="tns:actualizarEstado"></part>
</message>
<message name="actualizarEstadoResponse">
<part name="parameters" element="tns:actualizarEstadoResponse"></part>
</message>
<message name="registrarAlerta">
<part name="parameters" element="tns:registrarAlerta"></part>
</message>
<message name="registrarAlertaResponse">
<part name="parameters" element="tns:registrarAlertaResponse"></part>
</message>
<portType name="ModuloAntifraudeWebserviceImpl">
<operation name="evaluar">
<input message="tns:evaluar"></input>
<output message="tns:evaluarResponse"></output>
</operation>
<operation name="preValidar">
<input message="tns:preValidar"></input>
<output message="tns:preValidarResponse"></output>
</operation>
<operation name="postValidar">
<input message="tns:postValidar"></input>
<output message="tns:postValidarResponse"></output>
</operation>
<operation name="consultarEstado">
<input message="tns:consultarEstado"></input>
<output message="tns:consultarEstadoResponse"></output>
</operation>
<operation name="actualizarEstado">
<input message="tns:actualizarEstado"></input>
<output message="tns:actualizarEstadoResponse"></output>
</operation>
<operation name="registrarAlerta">
<input message="tns:registrarAlerta"></input>
<output message="tns:registrarAlertaResponse"></output>
</operation>
</portType>
<binding name="ModuloAntifraudeWebserviceImplPortBinding" type="tns:ModuloAntifraudeWebserviceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="evaluar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="preValidar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="postValidar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultarEstado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="actualizarEstado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registrarAlerta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ModuloAntifraudeWebserviceImplService">
<port name="ModuloAntifraudeWebserviceImplPort" binding="tns:ModuloAntifraudeWebserviceImplPortBinding">
<soap:address location="https://pruebas.maf.pagosonline.net:443/ws/ws/maf"></soap:address>
</port>
</service>
</definitions>